{% include 'header.html' %} 

<br>
<br>
<br>

<br>

{% include 'error_msg.html' %} 

<br>
<style>


    /* Define styles for form container */
.form-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
}

/* Define styles for form elements */
.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form input,
.form-container form select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-container form button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.form-container form button:hover {
    background-color: #0056b3;
}

/* Define styles for error message */
.form-container .error-msg {
    color: #dc3545;
}

/* Define styles for price display */
.form-container #priceDisplay {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;

    font-weight: bold;
    text-align: center;
}
label{    
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

</style>
<!-- 加载页面的时候设置默认日期为今天 -->
<div class="form-container">
    <!-- 加载页面的时候设置默认日期为今天 -->
    <body onload="setDefaultDate()">
        <form action="" method="post">
            <input type="hidden" name="adjClosePrice" id="adjClosePrice">
            <input type="hidden" name="transactionDate" id="transactionDate">

            <label for="date">For developer (Assign Date):</label>
            <input type="date" name="date" id="date">
            <!-- 展示用户余额 -->
            <label for="balance">Balance:</label> 
            <p style="
            font-size: 18px;
            font-weight: bold;">{{ balance }}</p>
            <br><br>
            <label for="ticker">Ticker:</label>
            <input type="text" name="ticker" id="ticker">
            <!-- 检查价格按钮 -->
            <button type="button" onclick="checkPrice()">Check Price</button>
            <!-- 显示检查价格结果 -->
            <div id="priceDisplay"></div>

            <br>
            <label for="transactionType">Buy/Sell:</label>
            <select name="transactionType" id="transactionType">
                <option value="buy">Buy</option>
                <option value="sell">Sell</option>
            </select>

            <br><br>
            <label for="amount">Amount:</label>
            <input type="number" name="amount" id="amount">
            <input type="submit" value="Submit" style= "padding: 8px 16px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer" id="submitBtn">
        </form>
    </body>

    <script>
        // 定义一个函数来获取价格并更新页面
        async function checkPrice() {
            const date = document.getElementById('date').value;
            const ticker = document.getElementById('ticker').value;
            if (!date || !ticker) {
                alert('Please Fill in a ticker and date');
                return;
            }
            try {
                const response = await fetch(`/trade/pricing/${ticker}/${date}`);
                if (!response.ok) {
                    throw new Error('Network error');
                }
                const data = await response.json();
                if (data.error) { // 检查返回的JSON中是否有error字段
                    alert(data.error); // 显示错误信息
                    return; // 阻止进一步执行
                }
                document.getElementById('priceDisplay').textContent = `Price on ${data.date} is ${data.adjClosePrice}`;

                // 更新隐藏字段的值
                document.getElementById('adjClosePrice').value = data.adjClosePrice;
                document.getElementById('transactionDate').value = data.date;
            } catch (error) {
                console.error('Error: Cannot retrieve price', error);
                alert('An error occurred while retrieving the price. Please try again.'); // 提供给用户的反馈
            }
            document.getElementById('submitBtn').style.display = 'block'; // 成功获取价格信息后显示提交按钮
        }

    </script>

    <script>
        function setDefaultDate() {
            const today = new Date().toISOString().substring(0, 10);
            document.getElementById('date').value = today;
        }
    </script>
</div>






{% include 'footer.html' %}